In [1]:
import pandas as pd
url = "https://gist.githubusercontent.com/tgcsantos/3bdb29eba6ce391e90df2b72205ba891/raw/22fa920e80c9fa209a9fccc8b52d74cc95d1599b/dados_imoveis.csv"
dados = pd.read_csv(url)

In [3]:
dados.sample(10)

,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor
7307,Rua Eliseu Visconti,Paineiras do Morumbi,São Paulo,749,4,7,4,R$ 30.000\n /Mês
1669,Rua Iraúna,Jardim Novo Mundo,São Paulo,500,3,4,3,R$ 3.000.000
612,Rua Nicolau Barreto,Vila Cordeiro,São Paulo,177,3,3,2,R$ 1.500.000
3790,NaN,Jardim Europa,São Paulo,800,3,5,8,R$ 23.600.000
5474,Rua Escócia,Pinheiros,São Paulo,330,3,5,5,R$ 5.200.000
9099,Rua Marcelina,Vila Romana,São Paulo,120,2,2,1,R$ 750.000
704,Rua Enrico de Martino,Jardim Leonor,São Paulo,770,5,5,4,R$ 5.000.000
3805,NaN,Jardim Europa,São Paulo,369,4,5,5,R$ 18.000\n /Mês
7420,NaN,Jardim Peri,São Paulo,335,3,2,3,R$ 1.250.000
6648,NaN,Cambuci,São Paulo,366,4,5,5,R$ 1.650.000

### Desafio 
1 - Realizar a média da metragem para cara um dos bairros.

2 - 2 formas de selecionar os dados por bairro (consultar os métodos na documentação do pandas).

3 - Explorar alguns gráficos na documentação e aplicar nas demais colunas do DF, tentar colocar alguma conclusão.

4 - Pegar outros estatísticas dos dados, média, mediana, mim, max.

5 - Descobrir quais são os bairros que não tem nome de Rua.

In [4]:
# 1
med_bairro = dados.groupby(["Bairro"])["Metragem"].mean()
med_bairro

Bairro
Aclimação            253.056818
Alto da Boa Vista    418.875000
Alto da Lapa         294.337209
Alto da Mooca        270.050000
Alto de Pinheiros    433.444988
                        ...
Vila Água Funda      152.200000
Água Branca          191.000000
Água Fria            165.416667
Água Funda           139.000000
Água Rasa            340.250000
Name: Metragem, Length: 701, dtype: float64

In [5]:
# 2.1
dados.iloc[:,[1]]

                   Bairro
0       Planalto Paulista
1      Jardim dos Estados
2         Jardim Reimberg
3          Jardim Morumbi
4                   Mooca
...                   ...
10003          Vila Sofia
10004     Bosque da Saúde
10005       Vila da Saúde
10006       Vila Oratório
10007         Vila Alpina

[10008 rows x 1 columns]

In [6]:
# 2.2
bairro = "Mooca"
loc_bairro = dados.loc[dados['Bairro'] == bairro]
loc_bairro

,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor
4,"Rua Tobias Barreto, 195",Mooca,São Paulo,100,3,2,2,R$ 540.000
109,Rua Timbó,Mooca,São Paulo,170,3,2,2,R$ 940.000
247,NaN,Mooca,São Paulo,80,2,2,4,R$ 870.000
2343,Rua Manuel Galvão,Mooca,São Paulo,106,3,3,2,R$ 450.000
2441,"Rua Timbó, 130",Mooca,São Paulo,170,3,1,2,R$ 1.000.000
2476,Rua Manuel Galvão,Mooca,São Paulo,111,3,3,2,R$ 450.000
2564,Rua dos Pássaros,Mooca,São Paulo,117,3,3,3,R$ 1.277.000
2626,Rua Padre Raposo,Mooca,São Paulo,135,2,3,2,R$ 692.000
4326,NaN,Mooca,São Paulo,101,2,2,5,R$ 640.000
4429,NaN,Mooca,São Paulo,106,2,2,5,R$ 640.000
4806,NaN,Mooca,São Paulo,106,2,2,5,R$ 640.000
5866,Rua Conselheiro João Alfredo,Mooca,São Paulo,290,3,4,2,R$ 640.000
5876,NaN,Mooca,São Paulo,170,3,3,2,R$ 947.000
5913,Rua São Rafael,Mooca,São Paulo,84,3,2,2,R$ 750.000
6112,Rua Sousa Leão,Mooca,São Paulo,160,3,3,5,R$ 1.050.000
6390,Rua Conselheiro João Alfredo,Mooca,São Paulo,295,3,4,2,R$ 640.000
6401,NaN,Mooca,São Paulo,175,3,3,2,R$ 947.000
6549,Rua Timbó,Mooca,São Paulo,175,3,2,2,R$ 940.000
6591,NaN,Mooca,São Paulo,270,4,3,3,R$ 1.200.000
6885,NaN,Mooca,São Paulo,89,2,1,1,R$ 480.000
6889,NaN,Mooca,São Paulo,106,3,3,2,R$ 450.000
7078,NaN,Mooca,São Paulo,220,4,2,1,R$ 645.000
7147,Rua Pirajá,Mooca,São Paulo,200,3,2,2,R$ 660.000
7339,Largo São Rafael,Mooca,São Paulo,103,3,2,2,R$ 750.000
7524,"Rua dos Trilhos, , 1985",Mooca,São Paulo,165,3,1,1,R$ 800.000
7765,Rua Timbó,Mooca,São Paulo,170,3,3,2,R$ 890.000
7805,NaN,Mooca,São Paulo,225,4,2,1,R$ 645.000
7920,NaN,Mooca,São Paulo,225,4,2,1,R$ 645.000
8220,Largo São Rafael,Mooca,São Paulo,108,3,2,2,R$ 750.000
8575,"Rua Marcial, , 95",Mooca,São Paulo,155,3,3,2,R$ 750.000
8603,Rua Timbó,Mooca,São Paulo,175,3,3,2,R$ 890.000
8787,Rua Canavieiras,Mooca,São Paulo,220,4,2,2,R$ 720.000
8904,NaN,Mooca,São Paulo,450,4,6,6,R$ 3.000.000
8914,Rua Canavieiras,Mooca,São Paulo,225,4,2,2,R$ 720.000
9034,"Rua Camé, , 74",Mooca,São Paulo,440,4,3,8,R$ 2.000.000
9107,Rua São Rafael,Mooca,São Paulo,86,3,2,2,R$ 750.000
9136,"Rua Tobias Barreto, 189",Mooca,São Paulo,90,3,2,1,R$ 520.000
9189,Rua Padre Raposo,Mooca,São Paulo,120,2,1,1,R$ 549.000
9221,Rua São Rafael,Mooca,São Paulo,91,3,2,2,R$ 750.000
9313,"Rua Timbó, , 130",Mooca,São Paulo,190,3,3,2,R$ 960.000
9602,NaN,Mooca,São Paulo,316,3,3,12,R$ 2.000.000
9888,"Rua Camé, , 74",Mooca,São Paulo,445,4,3,8,R$ 2.000.000
9900,Rua Bernardo Francisco,Mooca,São Paulo,140,2,2,4,R$ 760.000
9936,Rua Bernardo Francisco,Mooca,São Paulo,145,2,2,4,R$ 760.000
9972,Rua Bernardo Francisco,Mooca,São Paulo,145,2,2,4,R$ 760.000

In [ ]:
# 3